<h1>Update <%= @user.username %>'s <%= @device.name %></h1>

<% if flash[:error] %>
    <% flash[:error].each do |err| %>
        <p><%= err %></p>
    <% end %>
<% end %>

<form method="POST" action="/devices/<%= @device.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">

    <label>Edit name: <input type="text" name="name" value="<%= @device.name %>"></label>
    <br>
    <label>Edit power: <input type="text" name="power" value="<%= @device.power %>">W</label>
    <br>
    <label>Edit standby power: <input type="text" name="standby" value="<%= @device.standby %>">W</label>
    <br>
    <label>Edit daily usage: <input type="text" name="usage" value="<%= @device.usage %>">hours/day</label>
    <br><br>
        <label>Edit groups:
        <br>
            <% @user.groups.each do |group| %>
                <label><input type="checkbox" name="group_ids[]" value="<%= group.id %>" <%= "checked" if @device.group_ids.include?(group.id) %>> <%= group.name %></label>
                <br>
            <% end %>
        </label>
        
        <label>Create new group: 
            <input type="text" name="group_name">
        </label>
        <br><br>
    <input type="submit" value="Make Changes">
</form>