<h1><%= @user.username %>'s Home Page</h1>

<h2>Devices</h2>
<ol>
    <% @devices.each do |device| %>
        <li><%= device.name %>
            <ul>
                <li><%= device.power %>W - <%= device.usage %> hrs/day</li>
                <li><%= (device.power/1000)*device.usage %>kW·h per day</li>
            </ul>
        </li> 
        <br>
    <% end %>
    
</ol>
<br>
<form action="/devices/new" method="GET">
    <input type="submit" value="Add Device">
</form>
<br>
<form action="/logout" method="GET">
    <input type="submit" value="Log Out">
</form>
