<h1>Add a device</h1>

<h3>You can choose a device from the drop down menu or create a custom device</h3>
<form method="POST" action="/devices">

<% if flash[:error] %>
    <% flash[:error].each do |err|  %>
        <p><%= err %></p>
    <% end %>
<% end %>

    <label>Create a device: <br>
        <label>Device name: <input type="text" name="custom_name"></label>
        <br>
        <label>Power consumption (watts): <input type="text" name="custom_power"></label>
        <br>
        <label>Standby power consumption (watts): <input type="text" name="custom_standby"></label>
    </label>
    <br>

    <h3>OR...</h3>

    <label>Choose a device:
        <select name="name">
            <option value="" selected disabled hidden>Choose device...</option>
            <% @options.each do |opt| %>
                <option value='<%= opt.name %>'><%= opt.name %></option>
            <% end %>
        </select>
    </label>
    <br><br>
    <label>Hours used per day: 
        <input type="text" name="usage"> *required
    </label>
    <br><br>
    <label>Group this device: 
        <br>
        <% @groups.each do |group| %>
            <input type="checkbox" name="groups[]" value="<%= group.id %>"> <%= group.name %></input>
            <br>
        <% end %>
    </label>

    <br><br>
    <input type="submit" value="Add Device">
</form>