<h1><%= @user.username %>'s <%= @device.name %></h1>

<ul>

    <li>Power: <%= @device.power %> W</li>
    <li>Power on standby: <%= @device.standby %> W</li>
    <li>Daily usage: <%= @device.usage %> hours per day</li>
    <li>Daily power consumption: <%= ((@device.power/1000)*@device.usage + (@device.standby/1000)*(24 - @device.usage)).round(5) %> kW·h per day</li>
    <li>Daily power consumption on standby: <%= ((@device.standby/1000)*(24 - @device.usage)).round(5) %> kW·h per day</li>

</ul>

<form method="GET" action="/devices/<%= @device.id %>/edit">
    <input type="submit" value="Edit Device">
</form>

<form method="POST" action="/devices/<%= @device.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Device">
</form>

<form method="GET" action="/home">
    <input type="submit" value="Return to homepage">
</form>