<h1><%= @user.username %>'s Home Page</h1>

<h2>Devices</h2>

<%= flash[:error] if flash[:error] %>

<ol>
    <% @devices.each do |device| %>
        <li><a href="/devices/<%= device.id %>"><%= device.name %></a>
            <ul>
                <li><%= ((device.power/1000)*device.usage + (device.standby/1000)*(24 - device.usage)).round(5) %> kW·h per day</li>
            </ul>
        </li> 
        <br>
    <% end %>
    
</ol>


<br>
<form action="/devices/new" method="GET">
    <input type="submit" value="Add Device">
</form>
<br>
<form action="/groups/new" method="GET">
    <input type="submit" value="Add Group">
</form>
<br>
<form action="/logout" method="GET">
    <input type="submit" value="Log Out">
</form>
