<h1><%= @user.username %>'s groups and devices</h1>

<%= flash[:error] if flash[:error] %>

<h2>
    Average daily consumption - <%= user_consumption %> kW·h per day
    <br>
    Average monthly consumption - <%= (user_consumption*30.41667).round(3) %> kW·h per month
</h2>

    <% @user.groups.each do |group| %>
        <h3><a href="/groups/<%= group.id %>"><%= group.name %></a> - <%= group_consumption(group) %> kW·h per day</h3>
        <ol>
            <% group.devices.each do |device| %>
            <li><%= device.name %> - <%= device.power %> W</li>
            <% end %>
        </ol>
        <br>
    <% end %>

<br>
<form action="/groups/new" method="GET">
    <input type="submit" value="New Group">
</form>
<br>
<form action="/devices/new" method="GET">
    <input type="submit" value="New Device">
</form>
<br>
<form action="/logout" method="GET">
    <input type="submit" value="Log Out">
</form>
