<h1><%= @user.username %>'s Groups and Devices</h1>


<%= flash[:error] if flash[:error] %>


    <% @user.groups.each do |group| %>
        <h3><a href="/groups/<%= group.id %>"><%= group.name %></a> - <%= group_consumption(group) %> kW·h per day</h3>
        <ol>
            <% group.devices.each do |device| %>
            <li><%= device.name %> - <%= device.power %> W</li>
            <% end %>
        </ol>
        <br>
    <% end %>

<br>
<form action="/groups/new" method="GET">
    <input type="submit" value="Add Group">
</form>
<br>
<form action="/devices/new" method="GET">
    <input type="submit" value="Add Device">
</form>
<br>
<form action="/logout" method="GET">
    <input type="submit" value="Log Out">
</form>
