<h1><%= @user.username %>'s Home Page</h1>


<%= flash[:error] if flash[:error] %>


    <% @user.groups.each do |group| %>
        <h3><a href="/groups/<%= device.id %>"><%= group.name %></a></h3>
        <ol>
            <% group.devices.each do |device| %>
            <li><%= device.name %></li>
            <% end %>
        </ol>
        <br>
    <% end %>

<br>
<form action="/groups/new" method="GET">
    <input type="submit" value="Add Group">
</form>
<br>
<% if @user.groups.length > 0 %>
<form action="/devices/new" method="GET">
    <input type="submit" value="Add Device">
</form>
<br>
<% end %>
<form action="/logout" method="GET">
    <input type="submit" value="Log Out">
</form>
